.custom-select-wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80px;
  height: 30px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.custom-select-el {
  background-color: white;
  position: absolute;
  top: -10px;
  left: 100%;
  width: 120px;
  padding-left: 0;
  margin: 0;
  box-shadow: 0 7px 25px -1px rgba(0,0,0,0.4);
  /* transform: translate(80px, -20px); */
  /* border: 1px solid yellowgreen; */
}
